@model properTech.Models.Unit

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<h1 style="text-decoration:underline">Unit Details</h1>
<br />
<div class="card text-black bg-success mb-3" style="max-width: 30rem">
    <div class="card-body">
        <p class="card-text">@Html.DisplayNameFor(model => model.UnitNumber): @Html.DisplayFor(model => model.UnitNumber)</p>
        <p class="card-text">Rooms: @Html.DisplayFor(model => model.RoomCount)</p>
        <p class="card-text">Bathrooms: @Html.DisplayFor(model => model.BathroomCount)</p>
        <p class="card-text">Size (sq ft): @Html.DisplayFor(model => model.SquareFootage)</p>
        <p class="card-text">Rent: $@Html.DisplayFor(model => model.MonthlyRent)</p>
        <p class="card-text">Occupied: @Html.DisplayFor(model => model.IsOccupied)</p>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Units")'">Back To List</button>
</div>

