@model IEnumerable<properTech.Models.Unit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BathroomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOccupied)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathroomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccupied)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

