@model IEnumerable<properTech.Models.Unit>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Unit Listing</h1>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                Unit Number
            </th>
            <th>
                Bedrooms
            </th>
            <th>
                Bathrooms
            </th>
            <th>
                Size (sq ft)
            </th>
            <th>
                Rent
            </th>
            <th>
                Occupied
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-success">
                <th scope="row" style="background-color: #79D480">
                    @Html.DisplayFor(modelItem => item.UnitNumber)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BathroomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SquareFootage)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.MonthlyRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOccupied)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UnitId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

