@model properTech.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaintenanceRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintanenceTechId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintanenceTechId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
