@model properTech.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Maintenance Request Details</h1>
<br />
<center><div class="card text-white bg-success mb-3" style="max-width:50rem;">
    <div class="card-header" style="font-size:30px">Request Information</div>
    <div class="card-body">
        <h5 class="card-text" style="text-align:left">Resident: @Html.DisplayFor(model => model.resident)</h5>
        <h5 class="card-text" style="text-align:left">@Html.DisplayNameFor(model => model.Unit): @Html.DisplayFor(model => model.Unit)</h5>
        <h5 class="card-text" style="text-align:left">Request Date: @Html.DisplayFor(model => model.DateOfRequest)</h5>
        <h5 class="card-text" style="text-align:left">Estimated Completion: @Html.DisplayFor(model => model.EstimatedCompletionDate)</h5>
        <h5 class="card-text" style="text-align:left">Completion: @Html.DisplayFor(model => model.ActualCompletionDate)</h5>
        <h5 class="card-text" style="text-align:left">Status:  @Html.DisplayFor(model => model.MaintenanceStatus)</h5>
        <h5 class="card-text" style="text-align:left">Last Message:  @Html.DisplayFor(model => model.Message)</h5>
    </div>
</div></center>
<br />
<center><div>
    <h2 style="text-align:center; text-decoration:underline">Video</h2>
    <video width="640" height="360" controls="controls">
        <source src=~/videos/@Model.filePath type="video/mp4" />
    </video>
    <br />
</div></center>

