@model properTech.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maintenance Request</h4>
    <hr />
    <dl class="row">
        <h3>Request Information</h3>
        <dd class="col-sm-10">
            Resident
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.resident)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Unit)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <br />
        <br />
        <dd class="col-sm-6">
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </dd>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.DateOfRequest)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.EstimatedCompletionDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.EstimatedCompletionDate)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.ActualCompletionDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.MaintenanceStatus)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.MaintenanceStatus)
        </dd>
    </dl>
        <br />
        <h3>Current Communication</h3>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Message)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintanenceTechId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintanenceTechId)
            </dd>*@
    <h3>Video</h3>
    <video width="640" height="360" controls="controls">
        <source src=~/videos/@Model.filePath type="video/mp4" />
    </video>
    <br />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
