
@{
    ViewData["Title"] = "Data";
}

<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Choose Data Table to View</h1>
<br />
<center>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("MonthlyRevenue", "ReportView")'">Monthly Revenue</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("QuarterlyEarnings", "ReportView")'">Quarterly Earnings</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("OccupancyPercent", "ReportView")'">Occupancy Percent</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ProjectedVacancies", "ReportView")'">Projected Vacancies</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("TechEfficiency", "ReportView")'">Maintenance Efficiency</button>
</center>

