@model IEnumerable<properTech.Models.Property>

@{
    ViewData["Title"] = "Index";
}


<h1>Your Properties</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a> |
                <a asp-action="Create" asp-route-id="@item.ManagerId">Create New Property</a>
            </td>
        </tr>
}
    </tbody>
</table>
