@model IEnumerable<properTech.Models.MaintenanceRequest>

@{
    ViewData["Title"] = "ViewMaintenanceRequests";
}

<h1>Your Maintenance Requests</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceStatus)
            </td>
            <td>
                <a asp-controller="MaintenanceRequests" asp-action="Edit" asp-route-id="@item.RequestId">Message Resident</a> |
                <a asp-controller="MaintenanceRequests" asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-controller="MaintenanceRequests" asp-action="CompleteRequest" asp-route-id="@item.RequestId">Complete</a>
            </td>
        </tr>
}
    </tbody>
</table>
