@model IEnumerable<properTech.Models.MaintenanceRequest>

@{
    ViewData["Title"] = "RequestsView";
}

<h1>Maintenance Requests</h1>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-controller="MaintenanceRequests" asp-action="Accept" asp-route-id="@item.RequestId">Accept</a> |
                <a asp-controller="MaintenanceRequests" asp-action="Details" asp-route-id="@item.RequestId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
