@model properTech.Models.Resident

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenewedLease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenewedLease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatePayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatePayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResidentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
