@model IEnumerable<properTech.Models.Resident>

@{
    ViewData["Title"] = "Overdue";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Overdue Resident Accounts</h1>
<br />
<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                Name
            </th>
            <th>
                Due Date
            </th>
            <th>
                Balance
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-success">
            <th scope="row" style="background-color: #79D480">
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
        }
    </tbody>
</table>

