@model IEnumerable<properTech.Models.MaintenanceRequest>
@{
    ViewData["Title"] = "CompletedRequest";
}
<h1>Requests In Progress</h1>
<p>
    <a asp-controller="Residents" asp-action="CompletedRequests">Completed Request History</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tech)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
            
        }
    </tbody>
</table>



