@model IEnumerable<properTech.Models.MaintenanceRequest>
@{
    ViewData["Title"] = "CompletedRequest";
}
<br />
<br />
<h1 style="text-align:center;text-decoration:underline">Requests In Progress</h1>
<br />
<br />
<h4 style="text-decoration:underline">
    <a asp-controller="Residents" asp-action="CompletedRequests">Click Here to see completed requests</a>
</h4>
<br />
<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                Request Date
            </th>
            <th>
                Estimated Completion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tech)
            </th>
            <th>
                Current Status
            </th>
            <th>
                Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-success">
            <th scope="row" style="background-color: #79D480">
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
            
        }
    </tbody>
</table>



