@model IEnumerable<properTech.Models.Building>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Units" asp-action="Index" asp-route-id="@item.BuildingId">@item.BuildingName.</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BuildingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BuildingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BuildingId">Delete</a> |
                    <a asp-controller="Units" asp-action="Create" asp-route-id="@item.BuildingId">Create New Unit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
