@model IEnumerable<properTech.Models.Building>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Buildings Listing</h1>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-success">
                <th scope="row" style="background-color: #79D480">
                    <a asp-controller="Units" asp-action="Index" asp-route-id="@item.BuildingId">@item.BuildingName</a>
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BuildingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BuildingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BuildingId">Delete</a> |
                    <a asp-controller="Units" asp-action="Create" asp-route-id="@item.BuildingId">Create New Unit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
