@model IEnumerable<properTech.Models.Property>

@{
    ViewData["Title"] = "PropertyInformation";
}

<br />
<br />

<h1 style="text-align:center; text-decoration:underline">Our Properties</h1>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th scope="col">
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-success">
            <th scope="row" style="background-color: #79D480">
                @Html.DisplayFor(modelItem => item.PropertyName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                <a asp-action="PropertyDetails" asp-route-id="@item.PropertyId">Details</a>   
            </td>
        </tr>
}
    </tbody>
</table>
