@model properTech.Models.Unit

@{
    ViewData["Title"] = "UnitDetails";
}
<br />
<br />
<h1 style="text-decoration:underline">Unit Details</h1>
<br />
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header" style="font-size:30px">Unit: @Html.DisplayFor(Model => Model.UnitNumber)</div>
    <div class="card-body">
        <p style="color:white" class="card-text">@Html.DisplayNameFor(model => model.RoomCount): @Html.DisplayFor(model => model.RoomCount)</p>
        <p style="color:white" class="card-text">@Html.DisplayNameFor(model => model.BathroomCount): @Html.DisplayFor(model => model.BathroomCount)</p>
        <p style="color:white" class="card-text">@Html.DisplayNameFor(model => model.SquareFootage): @Html.DisplayFor(model => model.SquareFootage)</p>
        <p style="color:white" class="card-text">@Html.DisplayNameFor(model => model.MonthlyRent): @Html.DisplayFor(model => model.MonthlyRent)</p>
    </div>
</div>
<br />
<html>
<head>
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
</head>
<body>
    <h3 style="text-decoration:underline">Local Map</h3>
    @*Div element for the map*@
    <div id="map"></div>
    <script>
            function initMap() {
                var location = { lat: @Html.DisplayFor(model => model.Address.Latitude), lng: @Html.DisplayFor(model => model.Address.Longitude) };
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 15, center: location });
                var marker = new google.maps.Marker({ position: location, map: map });
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClyvpgjTpah8jJL_JJdO1u2ljnS9MDC-M&callback=initMap">
    </script>
</body>
</html>
<br />
<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Vacancies", "Home")'">Back To List</button>
</div>
