@model IEnumerable<properTech.Models.Unit>

@{
    ViewData["Title"] = "Vacancies";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Vacancies</h1>
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BathroomCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-success">
            <th scope="row" style="background-color: #79D480">
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathroomCount)
            </td>          
            <td>
                @Html.ActionLink("Unit Details", "UnitDetails", new { id = item.UnitId})
            </td>
        </tr>
}
    </tbody>
</table>
