@model IEnumerable<properTech.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" >Create New Property</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Buildings" asp-action="Index" asp-route-id="@item.PropertyId">@item.PropertyName.</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a> |
                    <a asp-controller="Buildings" asp-action="Create" asp-route-id="@item.PropertyId">Create New Building</a>
                </td>
            </tr>
        }
    </tbody>
</table>
